:root {
    --bg-color: #ffffff;
    --bg-duo-color: #535B63;
    --main-color: #19242F;
    --second-main-color: #233240;
    --accent-color: #DBC08D;
    --text-color: #19242F;
    --muted-text-color: #858A8F;
    --card-bg-color: #ffffff;
    --font-family: 'Calibri', sans-serif;
    --bg-gray-color: #f8f8f8;

    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-m: 14px;
    --padding-l: 18px;

    --margin-xs: 6px;
    --margin-s: 10px;
    --margin-m: 14px;
    --margin-l: 18px;

    --border-radius-xs: 6px;

}

:root[data-theme='dark'] {
    --bg-color: #101820;
    --bg-duo-color: #74787C;
    --main-color: #0B1118;
    --second-main-color: #172331;
    --accent-color: #DBC08D;
    --text-color: #F3F5F7;
    --muted-text-color: #9A9FA5;
    --card-bg-color: #182330;
    --bg-gray-color: #121D27;
}
