:root {
    --bg-color: #ffffff;
    --bg-duo-color: rgb(255, 255, 255, 25%);
    --main-color: #19242F;
    --second-main-color: rgb(25, 36, 47, 95%);
    --accent-color: #DBC08D;
    --font-family: 'Calibri', sans-serif;

    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-m: 14px;
    --padding-l: 18px;

    --margin-xs: 6px;
    --margin-s: 10px;
    --margin-m: 14px;
    --margin-l: 18px;

    --border-radius-xs: 6px;

}
