:root {
    --bg-color: #fff;
    --main-color: #19242F;
    --second-main-color: #1f374e;
    --accent-color: #DBC08D;

    --font-family: 'Calibri', sans-serif;

    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-m: 14px;
    --padding-l: 18px;

    --margin-xs: 6px;
    --margin-s: 10px;
    --margin-m: 14px;
    --margin-l: 18px;

    --border-radius-xs: 6px;

}
